<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.samparka">

    <!-- optional permission if your app uses network calls -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Samparka"
        >

        <!-- Launcher activity - change to whichever screen you want to start first.
             Currently set to Login_Page so app opens at the login screen. -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activities used in the app -->
        <activity
            android:name=".Login_Page"
            android:exported="false" />


        <activity
            android:name=".DashboardActivity"
            android:exported="false" />

        <!-- screens you may have referenced in code; declare them too -->
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

    </application>

</manifest>
